RewriteEngine On

RewriteRule ^page/(.*)$ index.php&c=page&page=$1 [QSA,L]
RewriteRule ^(.+)/(.+)$ index.php&c=$1&a=$2 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
